@import '../node_modules/react-datepicker/dist/react-datepicker.css';
@import '../node_modules/bulma/css/bulma.css';
@import '../node_modules/font-awesome/css/font-awesome.css';
/*------------------------------------*    Colors
\*------------------------------------*/
/*------------------------------------*    Base styles and utilities
\*------------------------------------*/
html,
body {
  background: rgba(0,0,0,0);
}
a {
  -webkit-app-region: no-drag;
}
.draggable {
  -webkit-app-region: drag;
}
/*From Photon.css*/
.window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.window-content {
  position: relative;
  overflow-y: auto;
  display: flex;
  flex: 1;
}
.pane-group {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}
.pane {
  position: relative;
  overflow-y: auto;
  flex: 1;
}
.main-content {
  background-color: #fff;
}
.fa {
  margin-right: 5px;
  vertical-align: baseline;
}
.tag {
  cursor: pointer;
}
.tag:hover {
  background: #00bca0;
}
.delete:hover {
  background-color: #ff3860;
}
.noSelect {
  -webkit-user-select: none;
}
.pull-right {
  float: right;
}
/*------------------------------------*    Navbar
\*------------------------------------*/
.sidebar {
  background-color: rgba(0,0,0,0.8);
  width: 150px;
  min-width: 150px;
  overflow-y: scroll;
}
.menu {
  padding: 10px;
  padding-top: 30px;
}
.menu-label {
  color: #fff;
  font-size: 14px;
}
.menu-label .fa-plus {
  cursor: pointer;
}
.menu-label .fa-plus:hover {
  color: #00d1b2;
}
.menu-list a {
  color: #fff;
}
.menu-list a:hover {
  color: #bbb lue !important;
  background-color: transparent !important;
}
.tag-list .tag {
  margin-top: 10px;
}
/*------------------------------------*    Tasklist
\*------------------------------------*/
.list-group {
  padding: 10px;
}
/*------------------------------------*    Task
\*------------------------------------*/
.task .tag {
  margin-right: 5px;
}
.task button {
  margin-top: 5px;
}
.task .active {
  color: #ffd83d;
}
.task .active:hover {
  color: #363636;
}
.btn-round {
  -webkit-appearance: none;
  background-color: rgba(10,10,10,0.1);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 24px;
  color: #fff;
}
.btn-success:hover {
  background-color: #20bc56;
}
/*------------------------------------*    Modal
\*------------------------------------*/
.modal-content {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}
.modal-content .react-datepicker__input-container {
  width: 100%;
}
.modal-content .react-datepicker__input-container input {
  webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: #363636;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  height: 32px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  vertical-align: top;
  box-shadow: inset 0 1px 2px rgba(10,10,10,0.1);
  max-width: 100%;
  width: 100%;
}
.modal-close:hover {
  background-color: #ff3860;
}
