#ignore node modules and node related stuff
node_modules/*
app/node_modules/*
npm-debug.log



#ignore settings files
settings.json

#ignore dist folder
dist/*

#ignore DS_Store
.DS_Store
backup.json
