@import '../node_modules/bulma/css/bulma.css';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import './flatpickr_green.min.css';
.flatpickr-input {
  width: 100%;
  webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: #363636;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  height: 32px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  vertical-align: top;
  box-shadow: inset 0 1px 2px rgba(10,10,10,0.1);
  max-width: 100%;
  width: 100%;
  margin-bottom: 5px;
}
/*------------------------------------*    Colors
\*------------------------------------*/
/*------------------------------------*    Base styles and utilities
\*------------------------------------*/
html,
body {
  background: rgba(0,0,0,0);
}
a {
  -webkit-app-region: no-drag;
}
::-webkit-scrollbar {
  display: none;
}
hr {
  margin: 10px 0;
}
.draggable {
  -webkit-app-region: drag;
}
.no-drag {
  -webkit-app-region: no-drag;
}
/*From Photon.css*/
.window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.window-content {
  position: relative;
  overflow-y: auto;
  display: flex;
  flex: 1;
}
.pane-group {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}
.pane {
  position: relative;
  overflow-y: auto;
  flex: 1;
}
.main-content {
  background-color: #fff;
}
.item-level {
  margin-right: 10px;
}
.fa {
  margin-right: 5px;
  vertical-align: baseline;
}
.tag {
  cursor: pointer;
}
.tag:hover {
  background: #00bca0;
}
.delete:hover {
  background-color: #ff3860;
}
.noSelect {
  -webkit-user-select: none;
}
.pull-right {
  float: right;
}
.btn-round {
  -webkit-appearance: none;
  background-color: rgba(10,10,10,0.1);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 24px;
  color: #fff;
}
.btn-round .fa {
  margin-right: 0px !important;
}
.btn-success:hover {
  background-color: #20bc56;
}
.btn-warning:hover {
  background-color: #ffd83d;
}
.btn-danger:hover {
  background-color: #ff3860;
}
/*------------------------------------*    Navbar
\*------------------------------------*/
.sidebar {
  width: 150px;
  min-width: 150px;
  overflow-y: scroll;
  padding: 10px;
}
.menu {
  padding-top: 30px;
}
.menu-label {
  color: #fff;
  font-size: 14px;
}
.menu-label .fa-plus {
  cursor: pointer;
}
.menu-label .fa-plus:hover {
  color: #00d1b2;
}
.menu-label .add-btn {
  color: #fff;
}
.menu-label .add-btn:hover {
  color: #00d1b2;
}
.menu-list a {
  color: #fff;
}
.menu-list a:hover {
  color: #00d1b2 !important;
  background-color: transparent !important;
}
.menu-list .is-active:hover {
  color: #fff !important;
  background-color: #00d1b2 !important;
}
.menu-list .inbox-tag {
  vertical-align: middle;
  height: 12px;
}
.menu-list .inbox-tag:hover {
  background-color: #f5f5f5;
}
.tag-list .tag {
  margin-top: 10px;
}
/*------------------------------------*    Main
\*------------------------------------*/
.main-content {
  padding: 10px;
}
/*------------------------------------*    Tasklist
\*------------------------------------*/
/*------------------------------------*    Task
\*------------------------------------*/
/*.task
    p
        margin-bottom: 5px !important;
    .tag
        margin-right: 5px;
    .title
        margin-bottom: 5px;
        small
            margin-left: 20px;
            .due-icon
                margin-right: -5px;

    .media-right
        button
            margin-top: 5px
    .active
        color: colors.yellow;
        &:hover
            color: colors.dark-grey;*/
.task {
  margin-bottom: 20px;
}
.task .card-header-title small {
  margin-top: 2px;
  margin-left: 10px;
}
.task .hidden-content {
  max-height: 0px;
  opacity: 0;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.task .hidden-content .content {
  display: none;
}
.task .card-content {
  padding-bottom: 10px;
  padding-top: 10px;
}
.task .card-content .content {
  margin-bottom: 10px !important;
}
.task .card-content .content p {
  margin-bottom: 5px !important;
}
.is-edit {
  border: 1px solid #00d1b2;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/*------------------------------------*    Modal
\*------------------------------------*/
.modal-content {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}
.modal-close:hover {
  background-color: #ff3860;
}
/*------------------------------------*    Project
\*------------------------------------*/
.project .content ul {
  list-style: none !important;
}
.project .title {
  margin-bottom: 5px !important;
}
.project .title small {
  margin-left: 20px;
}
.project .title small .due-icon {
  margin-right: -5px;
}
.project .menu-label {
  color: #7a7a7a;
}
.project .menu-list {
  border-left: 1px solid #dbdbdb;
  margin: 10px;
  padding-left: 10px;
}
.project .icon {
  margin-left: 5px;
  display: inline;
}
.project .icon .fa-check {
  color: #20bc56;
}
.project .media-right button {
  margin-top: 5px;
}
/*------------------------------------*    CreateTaskWindow
\*------------------------------------*/
.create-task-window {
  background-color: #fff;
  padding: 20px;
}
